.container-picker {
  position: relative;
  width: 100%;

  .react-datepicker-wrapper {
    width: 100%;
  }

  input {
    width: 100%;
    border: 1px solid #C5CBE0;
    border-radius: 4px;
    height: 56px;
    outline: none;
    font-size: 16px;
    padding: 0 16px;

    &::placeholder {
      color: #A3ABCC;
    }
  }

  img {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }
}
