@import '../../../styles/color-palette.scss';

.container-form-home {
  &__title {
    font-weight: 300;
    color: #494F66;
    font-size: 24px;
    margin-bottom: 12px;

    span {
      font-size: 24px;
      color: $primary-color;
    }
  }

  > p {
    font-weight: 300;
    color: #676F8F;
    font-size: 16px;
  }

  &__form {
    margin-top: 24px;
    margin-bottom: 40px;

    &-document {
      display: flex;
      margin: 16px 0;

      .container-input {
        margin: 0;

        input {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    &__title {
      font-size: 28px;
    }
  }
}
