.container-sidebar-shared {
  min-height: 100vh;

  @media screen and (min-width: 768px) {
    display: flex;

    &__sidebar {
      transition: all .2s;
      margin-left: -12%;
    }

    &__body {
      width: 100%;
      padding: 0 44px 0 88px;
    }
  }

  @media screen and (min-width: 992px) {
    &__sidebar {
      margin-left: 0;
    }
  }
}
