.container-checkbox {
  position: relative;
  user-select: none;
  margin: 16px 0;
  font-size: 12px;

  &__label {
    color: #A3ABCC;
    display: flex;
  }

  input[type="checkbox"] {
    display: none;

    & + label span {
      display: inline-block;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin: -1px 10px 0 0;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #C5CBE0;
      border-radius: 4px;
    }

    &:checked + label span {
      background: url('../../../assets/gl_correct.png') #83CC5E no-repeat center;
      background-size: 14px;
      border-radius: 4px;
    }
  }
}
